*{
    margin: 0;
    padding: 0;
    
}
#leftSidebar{
    z-index:2;
    margin-top:50px;
    display:block;
    font-size: 14px;
    position: fixed;
    width: 220px;
    height:100%;
    background-color: #e74c3c;
    transition: 0.4s ;
    left:-220px;
}
#leftSidebar ul li{
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.4s ;

}
#leftSidebar ul li:hover{
    background-color:#c03926;
}
#leftSidebar ul li a{
    color:white;
    font-family: sans-serif;
    text-decoration: none;
}
#leftSidebar ul .commandlink{
    color:white;
    font-family: sans-serif;
    text-decoration: none;
}
.leftSidebarButton{

    padding:8px 15px;
    background-color: #343A40;
    cursor: pointer;
}
.leftSidebarButton:before{
    content:"\f0c9";
    font-family: FontAwesome;
    color:white;
    font-size: 27px;
    margin:0;
    top:0;   
}
.leftSidebarButton:hover{
    background-color: #c03926;
}

.leftSideBarEffect {
    margin-left:220px;
}

.submenu{
    display: none;
}

.submenu li{
    font-size: 13px;
    text-indent: 10px;
    font-family: 'Allan', Helvetica, Arial;
}