.product-filter-button{
    padding: 5px!important;
    background: dodgerblue !important;
    color: white !important;
    text-align: center !important;
    border: none !important;
    width:10%;
}
#filterFieldset legend{
    width:200px !important;
    height:30px !important;
    font-size:13px !important;
    text-align:center !important;
}
#filterFieldset{
   margin-bottom:5px !important;
}
.product_categories{
    padding:7px;
}